#background_for_click {
	height: 700px;
	width: 700px;
	background-color: yellow;
 	margin-left: auto;
 	margin-right: auto;
	position: relative;
}

#target {
	display: hidden;
}
#safeTimer{
	float: left;
	padding: 0 0 0 15%;
	
}
#score_board{
	float: right;
	padding: 0 15% 0 0;
}
